.section-start {
    background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url('/assets/image/image.png') center no-repeat;
    height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    
    .container {
        display: flex;
        justify-content: space-between;
        padding-top: 230px;
        @include mediaTablet {
            width: 984px;
        }
        
        @include mediaMobile {
            width: 100%;
            padding: 0 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 0;
        }
    }

    &__info {
        display: flex;
        flex-direction: column;
        padding: 0 20px;
        @include mediaTablet {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        @include mediaMobile {
            
        }
    }

    &__logo {
        margin-bottom: 60px;
    }

    &__img {
        height: 55px;
    }
    
    &__title {
        
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 500;
        font-size: 48px;
        line-height: 56px;
        text-transform: uppercase;
        color: #FFFFFF;
    }

    &__desc {
        
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;
        color: #FFFFFF;
        margin-bottom: 40px;
    }

    &__btn-download {
        width: 270px;
        padding: 16px 0px;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 25px;
        text-transform: capitalize;
        color: #FFFFFF;
        border: 2px solid #FFFFFF;
        background-color: transparent;
        transition: background .3s ease-in-out;
        &:hover {
            cursor: pointer;
            background: #6e6d6d;
            color: #EC7979;
            border: 2px solid #EC7979;
        }
        &:active {
            background: #AB4949;
            border: 2px solid #AB4949;
            color: #FFFFFF;
        }
    }
    }

    .section-start{
        &__form {
        min-width: 470px;
        background: #FFFFFF;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        }

        &__form-controls {
            display: flex;
            flex-direction: column;
            padding: 50px 50px 120px 50px;
            
        }

        &__form-title {
            margin-bottom: 70px;
            font-family: 'Open Sans';
            font-style: normal;
            font-weight: 700;
            font-size: 24px;
            line-height: 33px;
            text-align: center;
            text-transform: uppercase;
            color: #333333;
            &--text-red {
                color: #EC7979;
            }
        }

        &__form-control {
            padding: 16px 0;
            margin-bottom: 16px;
            border: 1px solid #BDBDBD;
            border-top: none;
            border-left:none;
            border-right:none;
            font-family: 'Open Sans';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 19px;
            align-items: center;
            color: #BDBDBD;
                &::placeholder {
                    font-family: 'Open Sans';
                    font-weight: 400;
                    font-size: 14px;
                    color: #BDBDBD;
                }

                &:last-child{
                    margin-bottom: 0;
                }
        }

        &__form-get-start-btn {
            border: none;
            height: 60px;
            background: #EC7979;
            border-radius: 0px 0px 10px 10px;
            font-family: 'Open Sans';
            font-style: normal;
            font-weight: 600;
            font-size: 15px;
            line-height: 20px;
            color: #FFFFFF;
            transition: background .3s ease-in-out;
            &:hover {
                cursor: pointer;
                background: #AB4949;
            }
            &:active {
                background: #EC7979;
                color: #FFFFFF;
                box-shadow: inset 0px 0px 10px #AB4949;
            }
        }
    }